<!-- views/partials/head.ejs -->

<meta charset="UTF-8">
<title>PriceCheck</title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link href="/styles/style.css" rel="stylesheet" type="text/css">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="/scripts/crossDomainPlugin/jquery.xdomainajax.js"></script>