<!-- views/partials/header.ejs -->

<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">

        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <i class="fa fa-usd" aria-hidden="true"></i>
                PriceCheck project
            </a>
        </div>

        <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/products">Products</a></li>
            <li><a href="/about">About</a></li>
        </ul>
      
        <div class='user-panel'>
            <a href='/logout'>Logout</a>
        </div>
    </div>
</nav>