<script>
    $(document).ready(function() {
        changeSearchText('<%= search %>');
    })
</script>

<div class='commands-div'>
    <a class='command-button' href='/products/create'>
        <i class="fa fa-plus" aria-hidden="true"></i> Add new price check object
    </a>

    <span class='toolbar-separator'></span>

    <input id="search-input" type='text' placeholder='Search...' />
    <button class='command-button' onclick="search('<%= search %>');">
        <i class="fa fa-search" aria-hidden="true"></i>
    </button>
</div>