<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../../partials/head %>
    <script src="/scripts/websiteAnalyzers.js"></script>
    <script src="/scripts/analyzers.js"></script>
</head>
<body class="container">

	<header>
		<% include ../../partials/header %>
	</header>

	<main>
        <div class='page-header'>
            Add new price check object
        </div>

        <a class='navigation-button' href='/objects'>
        Go back to all objects
        </a>

        <table style='width: 100%;'>
            <tr>
                <td>
                    <img id='objectImage' src='' style='width:100%;' class='invisible' />
                </td>
                <td>
                    <div class='form-div'>
                        <form name='addPriceObject' method="post" action="/objects/create">
                            <fieldset>
                                <div class='form-body-div'>
                                    <label for='objectUrl'>Object URL</label> 
                                    <input id='objectUrl' name='objectUrl' type='text' onchange='analyzeObject();' />
                                    
                                    <div id='loading-div' class='invisible'>
                                        <img id='loading-gif' src='/ajax-loader.gif' />
                                    </div>

                                    <div id='additionalFields' class='invisible'>
                                        <input id='imageUrl' name='imageUrl' type='hidden' />

                                        <label for='objectName'>Object name</label> 
                                        <input id='objectName' name='objectName' type='text' />
                                        
                                        <label for='objectPrice'>Price</label> 
                                        <input id='objectPrice' name='objectPrice' type='text' />
                                        
                                        <label for='objectDescription'>Description</label> 
                                        <textarea id='objectDescription' name='objectDescription'></textarea>
                                    </div>
                                </div>

                                <div class='form-commands-div'>
                                    <button type='submit' class='submit-button'>Create</button>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </td>
            </tr>
        </table>
	</main>

	<footer>
		<% include ../../partials/footer %>
	</footer>
	
</body>
</html>