<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../../partials/head %>
</head>
<body class="container">

	<header>
		<% include ../../partials/header %>
	</header>

	<main>
        <div class='page-header'>
            Add new price check object
        </div>

        <a class='navigation-button' href='/objects'>
        Go back to all objects
        </a>

        <div class='form-div'>
            <form name='addPriceObject' method="post" action="/objects/create">
                <fieldset>
                    <div class='form-body-div'>
                        <label for='objectUrl'>Object URL</label> 
                        <input id='objectUrl' name='objectUrl' type='text' />
                        
                        <label for='objectName'>Object name</label> 
                        <input id='objectName' name='objectName' type='text' />
                        
                        <label for='objectDescription'>Description</label> 
                        <textarea id='objectDescription' name='objectDescription'></textarea>
                    </div>

                    <div class='form-commands-div'>
                        <button type='submit' class='submit-button'>Create</button>
                    </div>
                </fieldset>
            </form>
        </div>
	</main>

	<footer>
		<% include ../../partials/footer %>
	</footer>
	
</body>
</html>